@import '../../colors.css';

#CommitTable {
  color: var(--customlightcyan);
  background-color: var(--customblack);
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#CommitTable tbody tr:hover {
  background-color: rgba(17, 100, 102, 0.3);
}

#CommitTable th,
#CommitTable td {
  padding: 0.75rem 1.25rem;
  color: var(--customlightcyan);
  border-color: var(--customgrey);
}

#CommitTable .col-sm-1 {
  width: 8%;
}

#CommitTable .col-sm-2 {
  width: 17%;
}

#CommitTable .col-sm-3 {
  width: 25%;
}

#CommitTable .col-sm-6 {
  width: 50%;
}

#CommitTable .avatar {
  max-width: 80px;
}

@media screen and (max-width: 991.99px) {
  #CommitTable .avatar {
    max-width: 50px;
  }
}
