:root {
  --customblack: #06191f;
  --customgrey: #2c3531;
  --customcyan: #116466;
  --custommiddlecyan: #32e3ce;
  --customlightcyan: #d1e8e2;
  --customcamel: #d9b08c;
  --customorange: #ffcb9a;
}
