@import '../../colors.css';

#Home {
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

#Home .imageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

#Home h1 {
  margin-bottom: 1.5rem;
  color: var(--custommiddlecyan);
}

#Home p {
  font-size: 1.25rem;
}

#Home img {
  max-width: 78px;
}

@media screen and (max-width: 991.99px) {
  #Home {
    text-align: left;
  }

  #Home .imageCol {
    text-align: center;
  }
}

@media screen and (max-width: 575.99px) {
  #Home {
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  #Home h1 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
  }

  #Home p {
    font-size: 1rem;
  }

  #Home img {
    display: none;
  }
}
