@import '../../colors.css';

#RepoTable {
  color: var(--customlightcyan);
  background-color: var(--customblack);
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#RepoTable tbody tr:hover {
  background-color: rgba(17, 100, 102, 0.3);
  cursor: pointer;
}

#RepoTable th,
#RepoTable td {
  padding: 0.75rem 1.25rem;
  color: var(--customlightcyan);
  border-color: var(--customgrey);
}

#RepoTable .col-md-3 {
  width: 25%;
}

#RepoTable .col-md-6 {
  width: 50%;
}

#RepoTable .fas {
  font-weight: 400;
  padding: 0 10px 0 0;
  font-family: 'FontAwesome';
}

#RepoTable .link {
  color: var(--customorange);
}

#RepoTable .link:hover,
#RepoTable .link:active {
  text-decoration: underline;
}

@media screen and (max-width: 767.99px) {
  #RepoTable .hideSm {
    display: none;
  }
}
