@import '../../colors.css';

#CommitTableMobile {
  color: var(--customlightcyan);
  background-color: var(--customblack);
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#CommitTableMobile .card {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: none;
  border-color: var(--customgrey);
}

#CommitTableMobile .card header {
  margin-bottom: 1.25rem;
}

#CommitTableMobile .card header .avatar {
  max-width: 80px;
}

#CommitTableMobile .card header .author {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#CommitTableMobile .card header .date {
  font-size: 1rem;
  color: var(--customcyan);
}

#CommitTableMobile .card .message {
  font-size: 1.125rem;
}

@media screen and (max-width: 575.99px) {
  #CommitTableMobile {
    text-align: center;
  }

  #CommitTableMobile .card {
    margin-bottom: 1.5rem;
    padding: 2rem 1rem 1rem;
  }

  #CommitTableMobile .card header {
    margin-bottom: 0.5rem;
  }

  #CommitTableMobile .card header .avatar {
    margin-bottom: 1rem;
  }

  #CommitTableMobile .card header .author {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  #CommitTableMobile .card .message {
    font-size: 1rem;
  }
}
