@import '../../colors.css';

#Footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: var(--customblack);
}

#Footer hr {
  width: 100%;
  display: block;
  margin: 9px 0;
  overflow: hidden;
  background-color: var(--customlightcyan);
}

#Footer .row {
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 15px;
}

#Footer .col {
  text-align: center;
}

#Footer p {
  margin-bottom: 0;
}

#Footer a,
#Footer .btn-link,
#Footer .btn {
  color: var(--customorange);
}

#Footer .btn {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 991.99px) {
  #Footer .col {
    text-align: left;
  }
}

@media screen and (max-width: 575.99px) {
  #Footer .row {
    margin-top: 0.5rem;
  }

  #Footer .col {
    text-align: center;
  }
}
