#NotFound404 {
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#NotFound404 h1 {
  margin-bottom: 1.5rem;
}

#NotFound404 p {
  font-size: 1.25rem;
}

@media screen and (max-width: 580px) {
  #NotFound404 {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  #NotFound404 h1 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
  }

  #NotFound404 p {
    font-size: 1rem;
  }
}
